.track-info {
  text-align: left;
}

.track__title {
  font-weight: 600;
  margin-bottom: 6px;
}

.track__artist {
  font-weight: 300;
  font-size: 14px;
}

@media (max-width: 560px) {
  .track-info_mob {
    text-align: center;
  }

  .track__title {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .track__artist {
    font-size: 12px;
  }
}
